{{#section 'head'}}
<meta name="robots" content="noindex"> {{/section}} {{#section 'jquery'}}
<script>
        $('document').ready(function () {
                $('h1').html('jQuery Works');
        });
</script> {{/section}}

<!doctype html>
<html>

<head>
        {{{_sections.head}}}
</head>

<body>
        <h1>Test Page</h1> {{{_sections.jquery}}}
</body>

</html>